* {
    box-sizing: border-box
}

.adminPage {
    height: 77vh;
    text-align: center;
    padding-top: 0.8vh;

}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
}

caption {
    caption-side: bottom;
    font-weight: bold;
    font-style: italic;
    margin: 4px;
}

th {
    background-color: white;
}

table tr:nth-child(odd) td {
    background-color: white;
}

table,
th,
td {
    border: 2px solid gray;
}

th,
td {
    height: 24px;
    padding: 4px;
    vertical-align: middle;
}


/* Add padding to containers */

.container {
    padding: 16px;
}

h1,
p {
    color: black;
}

label {
    text-align: left;
}

.userTable {
        margin: auto;
        margin-top: 70px;
        margin-bottom: 50px;
}

.itemTable {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.deleteUserBtn {
    border-radius: 7px;
    background-color: lightcoral;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80px;
    opacity: 0.9;
}

.deleteUserBtn:hover {
    opacity: 5;
}

.addNewItem {
    border-radius: 7px;
    background-color: lightcoral;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    opacity: 0.9;
}

.addNewItem:hover {
    opacity: 5;
}

.editUserBtn {
    border-radius: 7px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80px;
    opacity: 0.9;
}

.editUserBtn:hover {
    opacity: 5;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease-out;
    color: blue;
}



.lbl-toggle:hover {
    font-weight: bold;
}

.collapsible-content {
    max-height: 0px;
    transition: max-height .25s ease-in-out;
    overflow-y: scroll;
    width: 100%;
    height: 380px;
    scrollbar-width: none;
    overflow-x: hidden;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 100vh;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.dishFormWrapper{
    margin-top: -540px;
}
