body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #8E8D8A;
    background-color: #EAE7DC;
}

.topnav {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #D8C3A5;
    display: flex;
    justify-content: space-evenly;
}

.topnav a {
    float: left;
    color: #d17368;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #c2af94;
    color: #E98074;
}

.line {
    position: relative;

    border-bottom: 1px solid black;   
  }


.footerText {
    text-align: center;

    color: black;

  }
