.menuBody {
  max-width: 680px;
  margin: 0 auto;
  display: block;
}

.category {
  margin-bottom: 80px;
}

.category-section-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #ba665c;
  font-size: 50px;
  display: block;
  font-weight: normal;
  margin: 20px 0;
  text-align: Center;
  border-bottom: 7px dotted rgb(213, 213, 213);
}

.menuItem {
  margin: 35px 0;
  font-size: 18px;
}

.foo{
  text-align: center;
}

.menuItem-Name {
  font-size: 3vw;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  color: #71706e;
}

.menuItem-Image{
  padding-top: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height:  400px;
}


input.submit {
  float: none;
  display: block;
  width: 100px;
  margin: 10px auto;
  }

.viewDetails {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5em;
  padding-bottom: 5px;
  border-bottom: 2px dotted #8e8d8a;
}

.menuItem-Price, .menuItem-Description{
  text-align: center;
}

.detailsBtn, .menuItem-Button, .removeButton, .emailBtn{
  font-size: 2vw;
  color: #71706e;
  background-color: #E98074;
  border: 1px;
  border-color: black;
}

.removeButton{
  margin-bottom: 1vh;
}

.detailsBtn:hover, .menuItem-Button:hover, .removeButton:hover, .emailBtn:hover{
  background-color: #d17368;
}

.menuItem-Button{
  margin-top: 2vh;
  margin-left: 14vw;
}  

.emailBtn{
  font-size: 10px;
}

.favEmail{
  margin-left: 5vw;
}