
<div class="menuBody">
<h1 style="text-align: center;">Item Details Page</h1>
<br /> 
      {%for item in items%} 
  <div class="menuItem">
    <div class ="menuItem-Name">
       <h3> {{item.ItemName}} </h3>
    </div>

    {%for itemDetail in itemDetails%}
    <div class="menuItem-Price">
      <h4>€{{itemDetail.Price}}</h4>
    </div>
    <div class="menuItem-Description">
        <p style="color: black;">{{itemDetail.Description}}</p>
    </div>
    {%endfor%}

    <div class="menuItem-Image">  
      <img class="menuItem-Image" src="data:image/jpg;charset=utf8;base64,{{item.ItemImage}}"/>
    </div>     
    
    <script> var itemId = "{{item.ItemId}}"; </script>
    {%if user|length%}
    <form  action="itemDetails.php?item={{item.ItemId}}" method="post">
        <input type="submit" name="addfavourites" value="Add To Favourites">
    </form>
    {%endif%}
      {%endfor%}

     
    </div>
    </br>
  
</div>

 
 
  
  <br />

