
<div class="menuBody">
<h1 style="text-align: center;">Menu Page</h1>
<br />
  <div class="category">
    {%for category in categories%}
  <h2 class="category-section-title">{{category.CategoryName}}</h2>
   
      {%for item in items%} 
        {%if category.CategoryId == item.CategoryId%}
  <div class="menuItem">
    <div class ="menuItem-Name">
       <h3> {{item.ItemName}} </h3>
    </div>

    <div class="viewDetails">
      <input type="button" value="View Details" onclick="window.location='http://localhost/CIS1054-Web-Assignment/itemDetails.php?item={{item.ItemId}}'">
    </div>
  </div>
        {%endif%} 
      {%endfor%}
    {%endfor%}
    </br>
  </div>
</div>
  
  <br />

